.hiring{
  padding:120px 8% 60px;
  background:#050505;
}

.hiring-header{
  text-align:center;
  max-width:700px;
  margin:0 auto 70px;
}

.hiring-tag{
  color:#22c55e;
  font-size:.9rem;
  font-weight:700;
  letter-spacing:2px;
}

.hiring-header h2{
  font-size:3rem;
  margin:20px 0;
}

.hiring-header p{
  color:#aeb6c7;
  line-height:1.8;
}

.timeline{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.timeline-card{
  background:#111;
  border:1px solid rgba(34,197,94,.15);
  padding:35px;
  border-radius:24px;
  text-align:center;
  transition:.35s ease;
}

.timeline-card:hover{
  transform:translateY(-10px);
  border-color:#22c55e;
  box-shadow:
    0 0 20px rgba(34,197,94,.15),
    0 0 40px rgba(34,197,94,.08);
}

.timeline-number{
  width:80px;
  height:80px;
  margin:auto;
  border-radius:50%;
  background:#22c55e;
  color:black;
  font-size:1.3rem;
  font-weight:800;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:25px;
}

.timeline-card h3{
  margin-bottom:15px;
}

.timeline-card p{
  color:#aeb6c7;
  line-height:1.8;
}

@media(max-width:768px){

  .hiring{
    padding:80px 5% 40px;
  }

  .hiring-header h2{
    font-size:2rem;
  }

  .timeline{
    gap:20px;
  }

  .timeline-card{
    padding:25px;
  }
}